!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GoFun
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'signin', media: 'all'
  %body
    .form
      .about_page
        %i.icon.fas.fa-door-open
        %h.about_icon ログインページです。

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'メールアドレス'
        .field
          = f.password_field :password, autocomplete: "current-password",placeholder: 'パスワード'
        .actions
          = f.submit "ログイン"