!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gohan2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'app.new', media: 'all'
    = javascript_include_tag 'application'

%ul
  = image_tag "/images/GoFunロゴ.png"
  %li ゴファンは、ごはんスポット投稿型SNSです。
  %li あなたのおススメごはんスポットを「Googleストリートビュー」を用いて投稿し、友達や家族と共有できます。
  %li さらに、投稿されたごはんスポットを見て、知って、コメントやいいねをつけて楽しむこともできます。
  %li あなたも "おいしい場所" をシェアしてみませんか？　きっと新たな発見があるはずです。
  = link_to "新規登録", new_user_registration_path
  %li.quick （テストアカウントでのクイックスタートはヘッダーの "ログイン" からどうぞ！）