!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gohan2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'app.new', media: 'all'
    = javascript_include_tag 'application'

%h GoFunとは

%ul
  %li ゴファンは、ごはんスポット投稿型SNSです。

  %li あなたのおススメごはんスポットを「Googleストリートビュー」を用いて投稿し、世界中のユーザーへ共有することができます。
  
  %li また、他のユーザーが投稿したエリアを見たり、コメントやいいねを付けて楽しむこともできます。

  %li さぁ、あなたも新感覚のSNSを覗いてみませんか...？

  = link_to "新規登録", new_user_registration_path
    