!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GoFun
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'posts.edit', media: 'all'

.edit_area
  .about_page
    %i.edit_icon.far.fa-edit
    %h.about_delete_button 投稿編集ページです。

  .edit-form
    = form_for [@post] do |f|
      .field
        = f.text_field :shopname, class: 'shopname', placeholder: 'お店の名前'
      .field
        = f.text_field :view, class: 'view', placeholder: 'ストリートビュー'
      .file-field
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      .field
        = f.text_area :content, class: 'content', placeholder: 'お店に行った感想など自由に書いてください', rows: "10"
      .field
        = f.submit '上書きする', class: 'form__submit'

  .destroy
    %a.btn.btn-danger{"aria-label" => "Delete", :href => "/posts/#{@post.id}", "data-method" => "delete", "data-confirm" => "この投稿を削除してよろしいですか?"}
      %i.far.fa-trash-alt{"aria-hidden" => "true", :title => "この投稿を削除しますか？"}
      %h.about_delete_button 削除する