!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GoFun
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'signup', media: 'all', 'data-turbolinks-track': 'reload'

投稿編集ページです。

.edit-form
  = form_for [@post] do |f|
    = f.text_field :shopname, class: 'shopname', placeholder: 'お店の名前'
    = f.text_field :view, class: 'view', placeholder: 'ストリートビュー'

    = f.file_field :image, class: 'image', placeholder: '画像'
    -# = f.label :image, class: 'image' do
    -#   = icon('fas', 'image', class: 'icon')
    -#   = f.file_field :image, class: 'hidden'

    = f.text_field :content, class: 'content', placeholder: 'お店に行った感想など自由に書いてください', rows: "10"
    = f.submit 'Send', class: 'form__submit'

.destroy
  = link_to "投稿を削除する", post_path(@post), method: :delete 
