!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Document
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'posts.index', media: 'all', 'data-turbolinks-track': 'reload'
    
  %body
    .main
      .container-fluid

        #carousel-card.carousel.slide{"data-interval" => "6000", "data-ride" => "carousel"}
          .carousel-inner        
            .carousel-item.px-5.mt-5.active

              .row
                .card-wrap.card-pc.col-4
                  .index-heart-wrap
                    %i.fas.fa-heart
                    = "#{@lastpost.likes.count}"
                  .card
                    %a{:href => "/posts/#{@lastpost.id}"}
                      .iframe-card-wrap
                        %img{:allowfullscreen => "", :frameborder => "0", :height => "500px", :src => "#{@lastpost.image}", :width => "500px"}
                        .card-overlay
                          %p
                            = @lastpost.shopname
                            %br>/
                            = "投稿者 : #{@lastpost.user.nickname}"

                .card-wrap.card-pc.col-4
                  .index-heart-wrap
                    %i.fas.fa-heart
                    = "#{@secondlastpost.likes.count}"
                  .card
                    %a{:href => "/posts/#{@secondlastpost.id}"}
                      .iframe-card-wrap
                        %img{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@secondlastpost.image}", :width => "500px"}
                      .card-overlay
                        %p
                          = @secondlastpost.shopname
                          %br>/
                          = "投稿者 : #{@secondlastpost.user.nickname}"

                .card-wrap.card-pc.col-4
                  .index-heart-wrap
                    %i.fas.fa-heart
                    = "#{@thirdlastpost.likes.count}"
                  .card
                    %a{:href => "/posts/#{@thirdlastpost.id}"}
                      .iframe-card-wrap
                        %img{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@thirdlastpost.image}", :width => "500px"}
                      .card-overlay
                        %p
                          = @thirdlastpost.shopname
                          %br>/
                          = "投稿者 : #{@thirdlastpost.user.nickname}"
              
            .carousel-item.px-5.mt-5

              .row
                .card-wrap.card-pc.col-4
                  .index-heart-wrap
                    %i.fas.fa-heart
                    = "#{@fourthlastpost.likes.count}"
                  .card
                    %a{:href => "/posts/#{@fourthlastpost.id}"}
                      .iframe-card-wrap
                        %img{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@fourthlastpost.image}", :width => "500px"}
                      .card-overlay
                        %p
                          = @fourthlastpost.shopname
                          %br>/
                          = "投稿者 : #{@fourthlastpost.user.nickname}"

                .card-wrap.card-pc.col-4
                  .index-heart-wrap
                    %i.fas.fa-heart
                    = "#{@fifthlastpost.likes.count}"
                  .card
                    %a{:href => "/posts/#{@fifthlastpost.id}"}
                      .iframe-card-wrap
                        %img{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@fifthlastpost.image}", :width => "500px"}
                      .card-overlay
                        %p
                          = @fifthlastpost.shopname
                          %br>/
                          = "投稿者 : #{@fifthlastpost.user.nickname}"

                .card-wrap.card-pc.col-4
                  .index-heart-wrap
                    %i.fas.fa-heart
                    = "#{@sixthlastpost.likes.count}"
                  .card
                    %a{:href => "/posts/#{@sixthlastpost.id}"}
                      .iframe-card-wrap
                        %img{:allowfullscreen => "", :frameborder => "0", :height => "500", :src => "#{@sixthlastpost.image}", :width => "500px"}
                      .card-overlay
                        %p
                          = @sixthlastpost.shopname
                          %br>/
                          = "投稿者 : #{@sixthlastpost.user.nickname}"

          %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleFade", :role => "button"}
            %span.carousel-control-prev-icon{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleFade", :role => "button"}
            %span.carousel-control-next-icon{"aria-hidden" => "true"}
            %span.sr-only Next

        .posts-index
          
          %table.table.table-hover
            - @posts.each do |post|

              %tr{:style=>"height: 80px;"}
                %td.like
                  %i.fas.fa-heart
                  = post.likes.count
                %td
                  = link_to "#{post.shopname}", post_path(post)
                %td.sender
                  = "by▶︎#{post.user.nickname}"
                  %br
                    = post.created_at.strftime("%Y/%m/%d %H:%M")

        .pages
          = paginate(@posts)


            
      %script{:crossorigin => "anonymous", :integrity => "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", :src => "https://code.jquery.com/jquery-3.4.1.slim.min.js"}
      %script{:crossorigin => "anonymous", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
      %script{:crossorigin => "anonymous", :integrity => "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}


