!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gohan2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'posts.new', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

.form
  = form_for [@post] do |f|
    = f.text_field :shopname, class: 'shopname', placeholder: 'お店の名前'
    = f.text_field :view, class: 'view', placeholder: 'ストリートビュー'

    = f.file_field :image, class: 'image', placeholder: '画像'
    = image_tag @post.image.thumb.url if @post.image?
    = f.hidden_field :image_cache

    -# = f.label :image, class: 'image' do
    -#   = icon('fas', 'image', class: 'icon')
    -#   = f.file_field :image, class: 'hidden'

    = f.text_field :content, class: 'content', placeholder: 'お店に行った感想など', rows: "3"
    = f.submit 'Send', class: 'form__submit'