!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gohan2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'posts.new', media: 'all'
    = javascript_include_tag 'application'

.main
  .form
    .about_page
      %i.icon.far.fa-paper-plane
      %h.about_icon 新規投稿ページです。

    = form_for [@post] do |f|
      = f.text_field :shopname, class: 'shopname', placeholder: 'お店の名前'
      = f.text_field :view, class: 'view', placeholder: 'ストリートビュー'
      = f.file_field :image, class: 'image', placeholder: '画像'
      = f.hidden_field :image_cache
      = f.text_field :content, class: 'content', placeholder: 'お店に行った感想など', rows: "3"
      = f.submit '投稿する', class: 'form__submit'