!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gohan2
    = csrf_meta_tags
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all'
    = stylesheet_link_tag    'posts.show', media: 'all'
    = javascript_include_tag 'application'

.wrapper
  .images
    .view
      %iframe{:height => "100%", :width => "300%", :src => "#{@post.view.gsub(/<iframe src="/,'').gsub(/" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">/,'').gsub(/<iframe src="/,'')}"}     
    .post__image
      %img{:allowfullscreen => "", :frameborder => "0", :height => "500px", :src => "#{@post.image}", :width => "500px"}

  .chat-area
    .post-side
      .post-side__title
        .post__likes
          -if current_user.already_liked?(@post)
            = button_to post_like_path(@post), method: :delete, remote: true do
              %i.like.fas.fa-heart
              = "#{@post.likes.count}　　#{@post.shopname}"
          -else
            = button_to post_likes_path(@post), remote: true do
              %i.dislike.far.fa-heart
              = "#{@post.likes.count}　　#{@post.shopname}"
   
      .post-side__content
        = simple_format(@post.content)

      .post-side__sender
        = "by▶︎#{@post.user.nickname}"
        %br
          = @post.created_at.strftime("%Y/%m/%d %H:%M")
      .post-side__edit
        - if current_user.id == @post.user.id
          %a.btn{"aria-label" => "Edit", :href => "/posts/#{@post.id}/edit"}
            %i.far.fa-edit{"aria-hidden" => "true", :title => "この投稿を編集しますか？"}
            %h.about_delete_button 投稿編集
      .post-side__liked-user
        いいねしたユーザー▶︎
        - @post.liked_users.each do |user|
          = "　#{user.nickname}"

    .comment-side
      .comment-side__form
        = form_for [@post, @comment] do |f|
          = f.text_area :content, class: 'form__message', placeholder: 'コメントを送ってみましょう'
          = f.submit 'コメントする', class: 'form__submit'

      .comment-side__index  
        %i.comments.far.fa-comments
        %table.table.table-hover
          - @comments.each do |comment|
            %tr
              %td
                %p
                  = comment.content

              %td.sender
                = "by▶︎#{comment.user.nickname}"
                %br
                  = comment.created_at.strftime("%Y/%m/%d %H:%M")
                  - if current_user.id == comment.user.id
                    %br
                      = button_to 'コメント削除', "/posts/#{comment.post.id}/comments/#{comment.id}", method: :delete
                      -# %a.btn{"aria-label" => "Delete", :href => "/posts/#{comment.post.id}/comments/delete", "data-method" => "get", "data-confirm" => "このコメントを削除してよろしいですか?"}
                        %i.far.fa-trash-alt{"aria-hidden" => "true", :title => "このコメントを削除しますか？"}


        .pages
          = paginate(@comments)
  
      %script{:type => "module", :crossorigin => "anonymous", :integrity => "sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n", :src => "https://code.jquery.com/jquery-3.4.1.slim.min.js"}
      %script{:type => "module", :crossorigin => "anonymous", :integrity => "sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", :src => "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"}
      %script{:type => "module", :crossorigin => "anonymous", :integrity => "sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"}