!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gohan2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    
    
  %body
    .wrapper
      .header
        = link_to "ロゴ", root_path
        .header_set
          - if user_signed_in?
            = link_to current_user.nickname, user_path(current_user.id)
            = link_to "投稿一覧", posts_path
            = link_to "投稿する", new_post_path
            = link_to "ログアウトする", destroy_user_session_path, method: :delete
          - else
            = link_to "about", new_app_path
            = link_to "新規登録", new_user_registration_path
            = link_to "ログインする", new_user_session_path
      .main
        = render 'layouts/notifications'
        = yield
